


  .reviews__text-container {
    background: #84A178;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
}

  .revievs__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #FCFCFC;
  }

  .reviews__text-container {
    background: #84A178;
    border-radius: 24px;
}



.reviews__photo-container {
    width: 85px;
    height: 85px;
    background: #6E6E6E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    display: block;
    margin: 0 auto;
    overflow: hidden;   
}
  
  .reviews__photo-reviewer {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 480px) {
    .container {
      width: 480px;
    
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }